body
{
    margin:0;
    padding: 0;
}
// hero 
.hero
{
    background-image: url('../images/hero-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .text-container
    {
        margin-top: 26%;
    }
    .green-text
    {
        color: #32922e;
    }

    p
    {
        margin-bottom: 0;
    }
    .hero-text-1
    {
        font-family: 'Mulish', sans-serif;
        color: #fff;
        font-size: 2em;
        font-weight: 700;
    }
    .hero-text-2
    {
        font-family: 'Mulish', sans-serif;
        color: #fff;
        font-size: 3.5em;
        font-weight: 700;
    }
    .hero-text-3
    {
        color: #fff;
        font-family: 'Mulish', sans-serif;
        font-size: 0.9em;
        font-weight: 500;
    }
    .green-btn
    {
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #80b510 ,#32922e);
        color: #fff;
        border-radius: 25px;
        padding: 7px 23px;
        cursor: pointer;
        transition: transform .17s ease-in-out;
    }
    .green-btn:hover
    {
        transform: scale(1.1);
        text-decoration: none;
        transition: 0.3s;
    }
}
//latest blog
.latest-blog
{
    .latest-blog-section-head
    {
        text-align: center;
        color: #474747;
        font-weight:700;
        font-size: 3em;
        // font-family:$primary;
    }
    .latest-blog-sub-header
    {
        text-align: center;
        color: #474747;
        // font-family:$primary;
        text-align: center;
        color: #545454;
        font-weight: 500;
    }
    .blog-card:hover
    {
        box-shadow: 0 0 16px rgba(0,0,0,.2784313725490196);
        transition: 0.5s;
        // background-color: #193676;
        // color:#fff;
    }
    .card-img-top
    {
        width:20%;
    }
    .latest-blog-head
    {
        text-align: left;
    }

    .green-btn
    {
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #80b510 ,#32922e);
        color: #fff;
        border-radius: 25px;
        padding: 7px 23px;
        cursor: pointer;
        transition: transform .17s ease-in-out;
    }
    .green-btn:hover
    {
        transform: scale(1.1);
        text-decoration: none;
        transition: 0.3s;
    }
}

//gray-wave-section
.gray-wave
{
    background-image: url('../images/gray-wave.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .gray-head
    {
        font-family: 'Mulish', sans-serif;
        font-size: 2.5em;
        font-weight: 700;
        color: #484848;
        

    }
    .gray-sub-head
    {
        font-family: 'Mulish', sans-serif;
        color: #484848;
        font-size: 1em;
        font-weight: 600;
    }
    .gray-card
    {
        border-radius: 16px;
        transition: background-image 0.9s;
        box-shadow: 0 0 16px rgba(221, 220, 220, 0.278);
        cursor: pointer;
    }
    .gray-card:hover
    {
        background-image: linear-gradient( #193676 ,#2c4680);
        color: #fff;
        
    }
    .gray-title
    {
        font-family: 'Mulish', sans-serif;
        font-weight: 800;
    }
    .gray-text
    {
        color: #727272;
        font-family: 'Mulish', sans-serif;
        font-size: 0.9em;
        font-weight: 500;
    }
}

//latest blog 2
.latest-blog-2
{
    .latest-blog-section-head
    {
        text-align: center;
        color: #474747;
        font-weight:700;
        font-size: 3em;
        // font-family:$primary;
    }
    .latest-blog-sub-header
    {
        text-align: center;
        color: #474747;
        // font-family:$primary;
        text-align: center;
        color: #545454;
        font-weight: 500;
    }
    .card-img-top
    {
        width:20%;
    }
    .latest-blog-head
    {
        text-align: left;
    }

    .card-text-blog2
    {
        color:#686868;
    }
    .blog-date
    {
        font-size: 0.8em;
    }

    .green-btn
    {
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #80b510 ,#32922e);
        color: #fff;
        border-radius: 25px;
        padding: 7px 23px;
        cursor: pointer;
        transition: transform .17s ease-in-out;
    }
    .green-btn:hover
    {
        transform: scale(1.1);
        text-decoration: none;
        transition: 0.3s;
    }
}

//trusted partner
.trusted_partner
{
    .tp_head
    {
        font-weight: 700;
        font-size: 3em;
        // font-family: $primary;
        color: #474747;

    }
    .tp_sub_head
    {
        font-weight: 500; 
        font-size: 1.4em;
        // font-family: $primary;
        color: #979ba4;
    }
    .tp-icon
    {
        width: 10%;
    }
}

//consultancy
.consultancy
{
    background-image: url('../images/fixed.jpg');
    background-attachment: fixed;
    position: relative;
    .curve
    {
        width: 100%;
        position: absolute;
        top: 0;
    }
    .bottom-header
    {
        font-size: 3em;
        font-weight: 700;
        color: #fff;
    }
    .green-btn
    {
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #80b510 ,#32922e);
        color: #fff;
        border-radius: 25px;
        padding: 7px 23px;
        cursor: pointer;
        transition: transform .17s ease-in-out;
    }
    .green-btn:hover
    {
        transform: scale(1.1);
        text-decoration: none;
        transition: 0.3s;
    }
    .white-box
    {
        background-color: #fff;
        box-shadow: 0 0 16px rgba(0,0,0,.2784313725490196);
        border-radius: 20px;
        padding: 5%;
        position: relative;;
    }
    .accordian-head
    {
        color: #484848;
        font-size: 2.3em;
        font-weight: 700;
    }
    .faq-row
    {
        border: 1px solid #c2c2c2;
        border-radius: 12px;
        outline: none;
        margin-bottom: 2%;
    }
    
    .faq-button
    {
        border:none !important;
    }
    .faq-button:focus
    {
        box-shadow: none;
    }
    .faq-button:not(.collapsed)
    {
        background: transparent;
        color:#323232;
    }
    .faq-body
    {
        border: none;
    }
    
    .pointer-head
    {
        color: #484848;
        font-size: 2.3em;
        font-weight: 700;

        .pointer-head
        {
            
        }
    }
}


// footer
.footer
{
    background-color: #000000;
    .footer-white-text {
        color: #fff;
        // font-family: $primary-font;
        font-size: 1em;
        font-weight: 700;
    }
    .footer-link-menu {
        color: #979cab;
        // font-family: $primary-font;
        font-weight: 300;
        font-size: 1.1em;
        text-align: center;
        text-decoration: none;
    }
    .footer-description
    {
        color: #979cab;
        // font-family: $primary-font;
        font-weight: 300;
        font-size: 1.1em;
        text-decoration: none;
    }
    .phone
    {
        color: #fff;
        // font-family: $primary-font;
        font-weight: 300;
        font-size: 1.1em;
        text-align: center;
        text-decoration: none;
    }
    .email
    {
        color: #fff;
        // font-family: $primary-font;
        font-weight: 300;
        font-size: 1.1em;
        text-align: center;
        text-decoration: none;
    }
    .icon {
        padding: 0 6px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        i {
            padding: 12px;
            background: #fff;
            color: #3a3a3a;
            border-radius: 10%;
            height: 40px;
            width: 40px;
            line-height: 1.2;
            text-align: center;
            transition: 0.3s ease-in-out;

            &.fa-facebook-f {
                &:hover {
                    color: #1877f2;
                }
            }

            &.fa-twitter {
                &:hover {
                    color: #1da1f2;
                }
            }

            &.fa-instagram {
                &:hover {
                    color: #c32aa3;
                }
            }
        }
    }

}

//bottom ribbon
.bottom-ribbon {
    background-color: #000;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    .hulk
    {
        color: #8fbe1e;
    }
    .copyright {
        margin-top: 1rem;
        color: #6e6e6e;
        // font-family: $primary-font;
        text-align: center;

        @media (min-width: 992px) {
            text-align: left;
        }
    }

    .developed-by {
        margin-top: 1rem;
        color: #6e6e6e;
        // font-family: $primary-font;
        text-align: center;

        @media (min-width: 992px) {
            text-align: left;
        }
    }
}