body {
  margin: 0;
  padding: 0;
}

.latest-blog .latest-blog-section-head {
  text-align: center;
  color: #474747;
  font-weight: 700;
  font-size: 3em;
}

.latest-blog .latest-blog-sub-header {
  text-align: center;
  color: #474747;
  text-align: center;
  color: #545454;
  font-weight: 500;
}

.latest-blog .blog-card:hover {
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.278431);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.278431);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.latest-blog .card-img-top {
  width: 20%;
}

.latest-blog .latest-blog-head {
  text-align: left;
}

.latest-blog .green-btn {
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#80b510), to(#32922e));
  background-image: linear-gradient(to right, #80b510, #32922e);
  color: #fff;
  border-radius: 25px;
  padding: 7px 23px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .17s ease-in-out;
  transition: -webkit-transform .17s ease-in-out;
  transition: transform .17s ease-in-out;
  transition: transform .17s ease-in-out, -webkit-transform .17s ease-in-out;
}

.latest-blog .green-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.latest-blog-2 .latest-blog-section-head {
  text-align: center;
  color: #474747;
  font-weight: 700;
  font-size: 3em;
}

.latest-blog-2 .latest-blog-sub-header {
  text-align: center;
  color: #474747;
  text-align: center;
  color: #545454;
  font-weight: 500;
}

.latest-blog-2 .card-img-top {
  width: 20%;
}

.latest-blog-2 .latest-blog-head {
  text-align: left;
}

.latest-blog-2 .card-text-blog2 {
  color: #686868;
}

.latest-blog-2 .blog-date {
  font-size: 0.8em;
}

.latest-blog-2 .green-btn {
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#80b510), to(#32922e));
  background-image: linear-gradient(to right, #80b510, #32922e);
  color: #fff;
  border-radius: 25px;
  padding: 7px 23px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .17s ease-in-out;
  transition: -webkit-transform .17s ease-in-out;
  transition: transform .17s ease-in-out;
  transition: transform .17s ease-in-out, -webkit-transform .17s ease-in-out;
}

.latest-blog-2 .green-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.trusted_partner .tp_head {
  font-weight: 700;
  font-size: 3em;
  color: #474747;
}

.trusted_partner .tp_sub_head {
  font-weight: 500;
  font-size: 1.4em;
  color: #979ba4;
}

.trusted_partner .tp-icon {
  width: 10%;
}

.consultancy {
  background-image: url("../images/fixed.jpg");
  background-attachment: fixed;
}

.consultancy .bottom-header {
  font-size: 3em;
  font-weight: 700;
  color: #fff;
}

.consultancy .green-btn {
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#80b510), to(#32922e));
  background-image: linear-gradient(to right, #80b510, #32922e);
  color: #fff;
  border-radius: 25px;
  padding: 7px 23px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .17s ease-in-out;
  transition: -webkit-transform .17s ease-in-out;
  transition: transform .17s ease-in-out;
  transition: transform .17s ease-in-out, -webkit-transform .17s ease-in-out;
}

.consultancy .green-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.consultancy .white-box {
  background-color: #fff;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.278431);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.278431);
  border-radius: 20px;
  padding: 5%;
}

.consultancy .accordian-head {
  color: #484848;
  font-size: 2.3em;
  font-weight: 700;
}

.consultancy .faq-row {
  border: 1px solid #c2c2c2;
  border-radius: 12px;
  outline: none;
  margin-bottom: 2%;
}

.consultancy .faq-button {
  border: none !important;
}

.consultancy .faq-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.consultancy .faq-button:not(.collapsed) {
  background: transparent;
  color: #323232;
}

.consultancy .faq-body {
  border: none;
}

.consultancy .pointer-head {
  color: #484848;
  font-size: 2.3em;
  font-weight: 700;
}

.footer {
  background-color: #000000;
}

.footer .footer-white-text {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
}

.footer .footer-link-menu {
  color: #979cab;
  font-weight: 300;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
}

.footer .footer-description {
  color: #979cab;
  font-weight: 300;
  font-size: 1.1em;
  text-decoration: none;
}

.footer .phone {
  color: #fff;
  font-weight: 300;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
}

.footer .email {
  color: #fff;
  font-weight: 300;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
}

.footer .icon {
  padding: 0 6px;
}

.footer .icon:first-child {
  padding-left: 0;
}

.footer .icon:last-child {
  padding-right: 0;
}

.footer .icon i {
  padding: 12px;
  background: #fff;
  color: #3a3a3a;
  border-radius: 10%;
  height: 40px;
  width: 40px;
  line-height: 1.2;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer .icon i.fa-facebook-f:hover {
  color: #1877f2;
}

.footer .icon i.fa-twitter:hover {
  color: #1da1f2;
}

.footer .icon i.fa-instagram:hover {
  color: #c32aa3;
}

.bottom-ribbon {
  background-color: #000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.bottom-ribbon .hulk {
  color: #8fbe1e;
}

.bottom-ribbon .copyright {
  margin-top: 1rem;
  color: #6e6e6e;
  text-align: center;
}

@media (min-width: 992px) {
  .bottom-ribbon .copyright {
    text-align: left;
  }
}

.bottom-ribbon .developed-by {
  margin-top: 1rem;
  color: #6e6e6e;
  text-align: center;
}

@media (min-width: 992px) {
  .bottom-ribbon .developed-by {
    text-align: left;
  }
}
/*# sourceMappingURL=index.css.map */