body {
  margin: 0;
  padding: 0;
  position: relative;
}

.burger-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 992px) {
  .burger-nav {
    display: none;
  }
}

.burger-nav #menu {
  width: 35px;
  height: 30px;
  margin: 30px 20px 20px 0px;
  cursor: pointer;
}

.burger-nav .bar {
  height: 5px;
  width: 100%;
  background-color: #36942c;
  display: block;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.burger-nav #bar1 {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.burger-nav #bar3 {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.burger-nav .nav li a {
  color: #fff;
  text-decoration: none;
}

.burger-nav .nav li a:hover {
  font-weight: bold;
}

.burger-nav .nav li {
  list-style: none;
  padding: 16px 0;
}

.burger-nav .nav {
  padding: 0;
  margin: 0 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: none;
}

.burger-nav .menu-bg,
.burger-nav #menu-bar {
  top: 0;
  right: 0;
  position: absolute;
}

.burger-nav .menu-bg-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.burger-nav .menu-bg-container .menu-bg {
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #79b213, #36942c);
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.burger-nav .menu-bg-container .menu-bg.change-bg {
  width: 550px;
  height: 540px;
  -webkit-transform: translate(60%, -30%);
          transform: translate(60%, -30%);
}

.burger-nav #menu-bar {
  z-index: 2;
}

.burger-nav .change .bar {
  background-color: white;
}

.burger-nav .change #bar1 {
  -webkit-transform: translateY(4px) rotateZ(-45deg);
          transform: translateY(4px) rotateZ(-45deg);
}

.burger-nav .change #bar3 {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}

.burger-nav .change #bar2 {
  opacity: 0;
}

.burger-nav .change {
  display: block;
}

.page-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 0;
}

.page-header .fg-contact-row {
  display: none;
}

@media (min-width: 992px) {
  .page-header .fg-contact-row {
    display: block;
  }
}

.page-header .fg-menu-row {
  display: none;
}

@media (min-width: 992px) {
  .page-header .fg-menu-row {
    display: block;
  }
}

.page-header .green-text {
  color: #32922e;
}

.page-header .green-btn {
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#80b510), to(#32922e));
  background-image: linear-gradient(to right, #80b510, #32922e);
  color: #fff;
  border-radius: 25px;
  padding: 7px 23px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.17s ease-in-out;
  transition: -webkit-transform 0.17s ease-in-out;
  transition: transform 0.17s ease-in-out;
  transition: transform 0.17s ease-in-out, -webkit-transform 0.17s ease-in-out;
}

.page-header .green-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-header ul li {
  color: #fff;
  font-size: 0.8em;
  padding: 0px 10px;
}

.page-header ul li a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.page-header ul li a::after {
  content: '';
  height: 2px;
  width: 0;
  background-color: #32922e;
  position: absolute;
  bottom: -9px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.page-header ul li a:hover {
  color: #32922e;
}

.page-header ul li a:hover::after {
  width: 50%;
}

.hero {
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 94px;
  padding-bottom: 108px;
}

@media (min-width: 992px) {
  .hero {
    padding-bottom: 0;
  }
}

.hero .text-container {
  margin-top: 10%;
}

@media (min-width: 992px) {
  .hero .text-container {
    margin-top: 26%;
  }
}

.hero .green-text {
  color: #32922e;
}

.hero p {
  margin-bottom: 0;
}

.hero .hero-text-1 {
  font-family: 'Mulish', sans-serif;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
}

@media (min-width: 992px) {
  .hero .hero-text-1 {
    font-size: 2em;
  }
}

.hero .hero-text-2 {
  font-family: 'Mulish', sans-serif;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
}

@media (min-width: 992px) {
  .hero .hero-text-2 {
    font-size: 3.5em;
  }
}

.hero .hero-text-3 {
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-size: 0.9em;
  font-weight: 500;
}

.hero .green-btn {
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#80b510), to(#32922e));
  background-image: linear-gradient(to right, #80b510, #32922e);
  color: #fff;
  border-radius: 25px;
  padding: 7px 23px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.17s ease-in-out;
  transition: -webkit-transform 0.17s ease-in-out;
  transition: transform 0.17s ease-in-out;
  transition: transform 0.17s ease-in-out, -webkit-transform 0.17s ease-in-out;
}

.hero .green-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero .lappy {
  display: none;
}

@media (min-width: 992px) {
  .hero .lappy {
    display: block;
    width: 114%;
  }
}

.latest-blog .latest-blog-section-head {
  text-align: center;
  color: #474747;
  font-weight: 700;
  font-size: 2em;
}

@media (min-width: 992px) {
  .latest-blog .latest-blog-section-head {
    font-size: 3em;
  }
}

.latest-blog .latest-blog-sub-header {
  text-align: center;
  color: #474747;
  text-align: center;
  color: #545454;
  font-weight: 500;
}

.latest-blog .blog-card {
  margin-bottom: 10px;
}

.latest-blog .blog-card .card-content {
  text-align: center;
}

@media (min-width: 992px) {
  .latest-blog .blog-card .card-content {
    text-align: left;
  }
}

.latest-blog .blog-card .card-img-top {
  width: 20%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .latest-blog .blog-card .card-img-top {
    margin: 0;
  }
}

.latest-blog .blog-card .card-img-top.normal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-blog .blog-card .card-img-top.hover {
  display: none;
}

.latest-blog .blog-card:hover {
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.278431);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.278431);
  background-color: #193676;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 12px 10px 2px rgba(25, 54, 118, 0.5);
          box-shadow: 0px 12px 10px 2px rgba(25, 54, 118, 0.5);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  color: #fff;
}

.latest-blog .blog-card:hover .card-img-top.normal {
  display: none;
}

.latest-blog .blog-card:hover .card-img-top.hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 992px) {
  .latest-blog .blog-card {
    margin-bottom: 0px;
  }
}

.latest-blog .latest-blog-head {
  text-align: center;
}

@media (min-width: 992px) {
  .latest-blog .latest-blog-head {
    text-align: left;
  }
}

.latest-blog .latest-blog-text {
  text-align: center;
}

@media (min-width: 992px) {
  .latest-blog .latest-blog-text {
    text-align: left;
  }
}

.latest-blog .green-btn {
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#80b510), to(#32922e));
  background-image: linear-gradient(to right, #80b510, #32922e);
  color: #fff;
  border-radius: 25px;
  padding: 7px 23px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.17s ease-in-out;
  transition: -webkit-transform 0.17s ease-in-out;
  transition: transform 0.17s ease-in-out;
  transition: transform 0.17s ease-in-out, -webkit-transform 0.17s ease-in-out;
}

.latest-blog .green-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gray-wave {
  background-image: url("../images/gray-wave.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gray-wave .discuss {
  width: 89%;
}

@media (min-width: 992px) {
  .gray-wave .discuss {
    width: 123%;
  }
}

.gray-wave .gray-head {
  font-family: 'Mulish', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: #484848;
}

@media (min-width: 992px) {
  .gray-wave .gray-head {
    font-size: 2.5em;
  }
}

.gray-wave .gray-sub-head {
  font-family: 'Mulish', sans-serif;
  color: #484848;
  font-size: 0.8em;
  font-weight: 600;
}

@media (min-width: 992px) {
  .gray-wave .gray-sub-head {
    font-size: 1em;
  }
}

.gray-wave .gray-card {
  border-radius: 31px;
  padding: 18px 0;
  -webkit-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
  -webkit-box-shadow: 0 0 16px rgba(221, 220, 220, 0.278);
          box-shadow: 0 0 16px rgba(221, 220, 220, 0.278);
  cursor: pointer;
}

.gray-wave .gray-title {
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  text-align: center;
}

@media (min-width: 992px) {
  .gray-wave .gray-title {
    text-align: left;
  }
}

.gray-wave .gray-text {
  color: #353232;
  font-family: 'Mulish', sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
}

@media (min-width: 992px) {
  .gray-wave .gray-text {
    text-align: left;
  }
}

.gray-wave .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gray-wave .img-box svg {
  padding: 5px 5px;
  width: 80px;
}

.gray-wave .gray-card:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#193676), to(#2c4680));
  background-image: linear-gradient(#193676, #2c4680);
  color: #fff;
}

.gray-wave .gray-card:hover .gray-text {
  color: #fff;
}

.gray-wave .gray-card:hover .img-box svg {
  fill: #fff;
}

.latest-blog-2 .blog-card {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .latest-blog-2 .blog-card {
    margin-bottom: 0;
  }
}

.latest-blog-2 .latest-blog-section-head {
  text-align: center;
  color: #474747;
  font-weight: 700;
  font-size: 1.5em;
}

@media (min-width: 992px) {
  .latest-blog-2 .latest-blog-section-head {
    font-size: 3em;
  }
}

.latest-blog-2 .latest-blog-sub-header {
  text-align: center;
  color: #474747;
  text-align: center;
  color: #545454;
  font-weight: 500;
}

.latest-blog-2 .card-img-top {
  width: 20%;
}

.latest-blog-2 .latest-blog-head {
  text-align: left;
}

.latest-blog-2 .card-text-blog2 {
  color: #686868;
}

.latest-blog-2 .blog-date {
  font-size: 0.8em;
}

.latest-blog-2 .green-btn {
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#80b510), to(#32922e));
  background-image: linear-gradient(to right, #80b510, #32922e);
  color: #fff;
  border-radius: 25px;
  padding: 7px 23px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.17s ease-in-out;
  transition: -webkit-transform 0.17s ease-in-out;
  transition: transform 0.17s ease-in-out;
  transition: transform 0.17s ease-in-out, -webkit-transform 0.17s ease-in-out;
}

.latest-blog-2 .green-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.trusted_partner .tp_head {
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  color: #474747;
}

@media (min-width: 992px) {
  .trusted_partner .tp_head {
    font-size: 3em;
    text-align: left;
  }
}

.trusted_partner .tp_sub_head {
  font-weight: 500;
  font-size: 0.9em;
  color: #979ba4;
  text-align: center;
}

@media (min-width: 992px) {
  .trusted_partner .tp_sub_head {
    text-align: left;
    font-size: 1.4em;
  }
}

.trusted_partner .tp-icon-box {
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .trusted_partner .tp-icon-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.trusted_partner .tp-icon-box .tp-icon {
  margin-right: 10px;
  width: 20%;
}

@media (min-width: 992px) {
  .trusted_partner .tp-icon-box .tp-icon {
    width: 10%;
  }
}

.trusted_partner .tp-icon-box p {
  margin-bottom: 0;
  font-size: 1.3em;
}

@media (min-width: 992px) {
  .trusted_partner .tp-icon-box p {
    font-size: 1em;
  }
}

.testimonial .star {
  width: 80%;
  padding-top: 30px;
}

@media (min-width: 992px) {
  .testimonial .star {
    width: 120%;
  }
}

.testimonial .blue-box {
  background-color: #193676;
  color: #fff;
  border-radius: 15px 15px 0px 15px;
  padding: 45px 60px;
  font-family: 'Mulish', sans-serif;
  position: relative;
  margin-top: 14%;
}

.testimonial .blue-box .heading {
  font-size: 1em;
  font-weight: 600;
}

@media (min-width: 992px) {
  .testimonial .blue-box .heading {
    font-size: 2.5em;
  }
}

.testimonial .blue-box .t-text {
  font-size: 0.8em;
}

@media (min-width: 992px) {
  .testimonial .blue-box .t-text {
    font-size: 1em;
  }
}

.testimonial .blue-box .texted-by {
  color: #89b90c;
  font-weight: 500;
}

.testimonial .blue-box .quote {
  position: absolute;
  top: 10%;
  left: -11px;
  width: 49px;
}

@media (min-width: 992px) {
  .testimonial .blue-box .quote {
    left: -38px;
    width: 80px;
  }
}

.consultancy {
  background-image: url("../images/fixed.jpg");
  background-attachment: fixed;
  position: relative;
}

.consultancy .curve {
  width: 100%;
  position: absolute;
  top: 0;
}

.consultancy .bottom-header {
  font-size: 3em;
  font-weight: 700;
  color: #fff;
}

.consultancy .green-btn {
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#80b510), to(#32922e));
  background-image: linear-gradient(to right, #80b510, #32922e);
  color: #fff;
  border-radius: 25px;
  padding: 7px 23px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.17s ease-in-out;
  transition: -webkit-transform 0.17s ease-in-out;
  transition: transform 0.17s ease-in-out;
  transition: transform 0.17s ease-in-out, -webkit-transform 0.17s ease-in-out;
}

.consultancy .green-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.consultancy .white-box {
  background-color: #fff;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.278431);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.278431);
  border-radius: 20px;
  padding: 5%;
  position: relative;
}

.consultancy .accordian-head {
  color: #484848;
  font-size: 2.3em;
  font-weight: 700;
}

.consultancy .faq-row {
  border: 1px solid #c2c2c2;
  border-radius: 12px;
  outline: none;
  margin-bottom: 2%;
}

.consultancy .faq-button {
  border: none !important;
}

.consultancy .faq-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.consultancy .faq-button:not(.collapsed) {
  background: transparent;
  color: #323232;
}

.consultancy .faq-body {
  border: none;
}

.consultancy .pointer-head {
  color: #484848;
  font-size: 2.3em;
  font-weight: 700;
}

.footer {
  background-color: #000000;
}

.footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-white-text {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  padding-top: 5px;
}

@media (min-width: 992px) {
  .footer .footer-white-text {
    text-align: center;
  }
}

.footer .footer-link-menu {
  color: #979cab;
  font-weight: 300;
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

@media (min-width: 992px) {
  .footer .footer-link-menu {
    text-align: center;
  }
}

.footer .footer-link-menu:hover {
  color: #32922e;
}

.footer .footer-description {
  color: #979cab;
  font-weight: 300;
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
}

@media (min-width: 992px) {
  .footer .footer-description {
    text-align: left;
  }
}

.footer .phone {
  color: #fff;
  font-weight: 300;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .footer .phone {
    display: block;
    text-align: left;
  }
}

.footer .email {
  color: #fff;
  font-weight: 300;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .footer .email {
    display: block;
    text-align: left;
  }
}

.footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .footer .social-icons {
    display: block;
  }
}

.footer .icon {
  padding: 0 6px;
}

.footer .icon:first-child {
  padding-left: 0;
}

.footer .icon:last-child {
  padding-right: 0;
}

.footer .icon i {
  padding: 12px;
  background: #fff;
  color: #3a3a3a;
  border-radius: 10%;
  height: 40px;
  width: 40px;
  line-height: 1.2;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer .icon i.fa-facebook-f:hover {
  color: #1877f2;
}

.footer .icon i.fa-twitter:hover {
  color: #1da1f2;
}

.footer .icon i.fa-instagram:hover {
  color: #c32aa3;
}

.bottom-ribbon {
  background-color: #000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.bottom-ribbon .hulk {
  color: #8fbe1e;
}

.bottom-ribbon .copyright {
  margin-top: 1rem;
  color: #6e6e6e;
  text-align: center;
}

@media (min-width: 992px) {
  .bottom-ribbon .copyright {
    text-align: left;
  }
}

.bottom-ribbon .developed-by {
  margin-top: 1rem;
  color: #6e6e6e;
  text-align: center;
}

@media (min-width: 992px) {
  .bottom-ribbon .developed-by {
    text-align: left;
  }
}
/*# sourceMappingURL=index.css.map */